@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;700&display=swap');

@layer base {
    body {
        font-family: 'Epilogue', sans-serif;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .navbar, .topbar, .documentation, .buttons {
        display: none;
    }
    .test-div {
        display: block !important;
    }

    @page { size: auto;  margin: 0mm; }
}